#welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.welcomeContainer span {
  color: #38b2ac;
}
.welcomeContainer Button {
  margin-top: 20px;
  color: #38b2ac !important;
  border-color: #38b2ac !important;
  border-radius: 1px;
}
.welcomeContainer Button:hover {
  color: #ffffff !important;
  background-color: #38b2ac !important;
}

#about {
  height: 100vh;
}

/* tablet view */
@media only screen and (max-width: 950px) {
  #welcome {
    padding: 100px;
  }
  .welcomeContainer {
    text-align: center;
  }
  .welcomeContainer h2 {
    font-size: 4.5rem !important;
  }
}
/* phone view */
@media only screen and (max-width: 500px) {
  #welcome {
    padding: 48px;
  }
  .welcomeContainer h2 {
    font-size: 2.5rem !important;
  }
}
