#navbar {
  z-index: 10;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
#navbar a {
  margin: 0 8px;
}
#navbar img {
  height: 40px;
  margin: 2px;
}
#navbar img:hover {
  height: 42px;
  margin: 1px;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.5);
}

#welcome {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-bottom: 80px;
}
.welcomeHeader1 {
  font-size: 2rem !important;
}
.welcomeHeader2 {
  font-size: 5.5rem !important;
  line-height: 5rem !important;
  color: #38b2ac;
}
.welcomeHeader3 {
  margin-top: 10px;
  font-size: 3rem !important;
  line-height: 3rem !important;
}

.welcomeContainer Button {
  margin: 20px 5px 0 5px;
  color: #38b2ac !important;
  border-color: #38b2ac !important;
  border-radius: 1px;
}
.welcomeContainer Button:hover {
  color: #ffffff !important;
  background-color: #38b2ac !important;
}

.emptySpace {
  height: 100px;
}
#about,
#techSkills {
  transform: skewY(-4deg);
  background-image: linear-gradient(to right, #38b2ac, #4fd1c5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  min-height: 500px;
}
#about > *,
#techSkills > * {
  transform: skewY(+4deg);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutHeader {
  margin-top: 50px;
}
.textContainer {
  margin: 30px auto;
  width: 52%;
  font-size: 1.4rem;
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.projectFrame {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 50px auto;
}
.projectInfo {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.buttonStyle {
  margin-top: auto;
  display: flex;
}
.buttonStyle a {
  display: block;
  width: 110px;
  margin: 0 8px 0 0 !important;
  padding: 7px 12px !important;
  color: #38b2ac !important;
  border: 1px solid #38b2ac !important;
  border-radius: 1px;
  text-align: center;
}
.buttonStyle a:hover {
  color: #ffffff !important;
  background-color: #38b2ac !important;
}
.projectImg {
  margin-top: 10px;
  border: 1px solid rgb(196, 196, 196);
  width: 55%;
}
.skills {
  display: flex;
  flex-flow: row wrap;
}
.skills button {
  margin: 0 5px 5px 0;
}
.note {
  color: grey;
  font-style: italic;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  margin: 100px auto 50px auto;
}
#contact Button {
  margin: 20px 5px 0 0;
  color: #38b2ac !important;
  border-color: #38b2ac !important;
  border-radius: 3px;
  width: 150px;
}
#contact Button:hover {
  color: #ffffff !important;
  background-color: #38b2ac !important;
}
#contact Button:disabled {
  color: black !important;
  border-color: rgb(151, 151, 151) !important;
  background-color: #dddddd !important;
}
#contactForm form {
  display: flex;
  flex-direction: column;
}
#contact input,
#contact Textarea {
  border-radius: 3px;
  margin-bottom: 10px;
  width: 800px;
}
#techSkills {
  padding-top: 100px;
}

.SkillsContainer {
  display: flex;
  flex-flow: row wrap;
}
#skillsFront,
#skillsBack,
#skillsTools {
  filter: grayscale(100%);
}
#skillsFront:hover,
#skillsBack:hover,
#skillsTools:hover {
  filter: grayscale(0);
}
.SkillsContainer > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: calc(80vw / 3);
  margin-top: 20px;
}
.miniSkillsContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.miniSkill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 85px;
}
.miniSkill img {
  height: 50px;
  width: 50px;
}

footer {
  display: flex;
  justify-content: center;
}

/* tablet view */
@media only screen and (max-width: 950px) {
  #welcome {
    padding: 100px;
  }
  .welcomeContainer {
    text-align: center;
  }
  .textContainer {
    margin: 30px auto;
    width: 80%;
    font-size: 1.2rem;
  }
  .projectFrame {
    flex-direction: column;
    width: 80%;
  }
  .projectInfo {
    width: 100%;
  }
  .projectImg {
    margin-top: 20px;
    width: 100%;
  }
  .note {
    margin-bottom: 10px;
  }
  #techSkills {
    padding: 50px;
  }
  #contact {
    margin-top: 50px;
  }
  #contactForm {
    width: 80%;
  }
  #contact input,
  #contact Textarea {
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
  }
  .otherTools {
    width: 150px;
  }
  #projects {
    margin-bottom: 0px;
  }
}

/* ipad mini view */
@media only screen and (max-width: 800px) {
  .miniSkill {
    width: 80px;
  }
  .emptySpace {
    height: 10px;
  }
}

/* phone view */
@media only screen and (max-width: 500px) {
  #welcome {
    padding: 30px;
  }
  .textContainer {
    margin: 30px 20px;
    width: 100%;
    font-size: 0.95rem;
  }
  .projectFrame {
    width: 100%;
    margin-top: 0;
  }
  #projects {
    margin-top: 0;
  }
  #about {
    margin-top: 50px;
  }
  #contact {
    margin-top: 50px;
  }
  #contactForm {
    width: 100%;
  }
  #contact Button {
    width: 100%;
  }
  .SkillsContainer > * {
    margin-top: 30px;
    width: 100%;
  }
  .SkillsInner {
    margin-bottom: 20px;
  }
  .miniSkill {
    margin: 5px;
    /* width: 80px; */
  }
}
