#welcome {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.welcomeHeader1 {
  font-size: 2rem !important;
}
.welcomeHeader2 {
  font-size: 5.5rem !important;
  line-height: 5rem !important;
}
.welcomeHeader3 {
  margin-top: 10px;
  font-size: 3rem !important;
  line-height: 3rem !important;
}

.welcomeContainer Button {
  margin: 20px 5px 0 5px;
}
#about {
  transform: skewY(-4deg);
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}
#about > * {
  transform: skewY(+4deg);
}
.textContainer {
  margin: 30px auto;
  width: 50%;
}
#about p {
  font-size: 1.2rem;
}
#projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

/* tablet view */
@media only screen and (max-width: 950px) {
  #welcome {
    padding: 100px;
  }
  .welcomeContainer {
    text-align: center;
  }
}
/* phone view */
@media only screen and (max-width: 500px) {
  #welcome {
    padding: 30px;
  }
}
